* {
  box-sizing: border-box;
}

body {
  background-color: #e0e0db;
  margin: 0;
  line-height: 1.6;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
	margin: 0;
  padding: 20px;
  font-size: 60px;
  text-align:left;
  color: rgb(0, 0, 0)
}

.header {
  padding-top: .5em;
	padding-bottom: .5em;
  padding: 20px;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
  color: #34495e;
}

h1 {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  display: block;
  font-size: 8vmin;
  text-shadow: 4px 2px #8e8e3a;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: black;
  display: block;
  margin: 0px 0px 0xp 20px;
  padding: 10x;
}

h3 {
  font: white;
}

.nav-bar {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.258) ;
  padding: 5px;
  list-style: none;
	margin: 0px 0px 0px 0px;
  text-align: center;
}

.logo a, .nav-bar a {
	padding: 8px 15px;
	text-transform: uppercase;
	display: block;
}

.nav-bar a {
  font-weight: 900;
	color: #1e4a4f;
	font-size: .99em;
}

.nav-bar a:hover{
  color: white;
}

main {
  font-family: 'Montserrat', sans-serif;
}

img {
  /* display: flex; */
  min-height: 10vmin;
  min-width: 10vmin;
  max-width: 40vmax;
  max-height: 40vmax;
  align-content: center;
  margin-bottom: 30px;
  object-fit: cover;
}

form {
  margin-top: 50px;
  border: 4px solid #8e8e3a;
  padding: 20px;
  text-align: center;
  /* font: white; */
}

form.container {
  display: flex;
  justify-content: 
}

/* Add some padding and a grey background color to containers */
.container {
  font: rgb(255, 255, 255);
  padding: 20px;
  background-color: #1e4a4f;
  font-family: 'Montserrat', sans-serif;
}

#searchBar {
  background-color: #e0e0db;
}

.searchContainer {
  align-items: center;
}
/* Style the input elements and the submit button */
button[type=text], button[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
button[type=submit] {
  background-color: gray;
  color: white;
  border: none;
}

button[type=submit]:hover {
  opacity: 0.8;
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding: 40px;
  text-align: center;
  object-fit:fill;
}

/* .button {
  font-family: 'Montserrat', sans-serif;
} */